*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}

.navbar-brand{
  font-size: 2rem;
  font-weight: 600;


}

.nav-link{
  font-size: 1.3rem;
  margin-left: 12px;
  margin-right: 12px;
  font-weight: bold;
}


}

.search{
  height: 40px;
  width: 300px;
  border-radius: 60px;
  outline: none;
  margin-right: -35px;
  

}

.sbtn{
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  border-radius: 60px;
  background-color: rgb(255, 255, 255);
}

#home{
  padding-top: 50px;
  
  
  

}

.item{
  padding-top: 40px;
}
.trending{
  padding-top: 60px;
}

.footer p{
  margin: 0;
}

.login{
  width: 35%;
  padding: 50px;
  margin-top: 150px;
  border-radius: 20px;

}
.login-css{
  width: 100%;
  border-radius: 50px;
  border: none;


  
}

.nav-login{
  width: 85%;
  border-radius: 20px;
}
.oneline{
  font-size: 2rem;
  font-weight: bold;
}

@media only screen and (max-width:600px) {
 form{
  width: 100% !important;
 } 
}

.photo{
  width: 35px;
  border-radius: 50px;
  margin-left: 5px;
}